[Desktop Entry]
Type=Application
Name=Karton Settings
Name[pl]=Ustawienia Karton
Name[de]=Karton Einstellungen
Comment=Configure KartON system settings (WIP build)
Comment[pl]=Konfiguruj ustawienia systemowe KartON (wersja w budowie)
Comment[de]=Karton-Systemeinstellungen konfigurieren (WIP-Build)
Exec=karton-settings
Icon=io.karton.Settings
Terminal=false
Categories=Settings;System;DesktopSettings;
MimeType=x-scheme-handler/karton-settings;application/vnd.karton.settings;
StartupNotify=true
StartupWMClass=io.karton.Settings
Keywords=settings;preferences;display;sound;network;
