[Desktop Entry]
Name=Karton
Comment=A wayland stacking compositor
Exec=env WLR_NO_HARDWARE_CURSORS=1 WLR_DRM_NO_ATOMIC=1 karton
Icon=karton
Type=Application
DesktopNames=karton;wlroots
